/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

/* Header Styles */
header {
  background: #ffffff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header .logo {
  width: 9vw;
}

header nav a {
  color: #000;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  /* background: url('hero-bg.jpg') no-repeat center center/cover; */
  color: #000;
  padding: 3vh 2vw;
  text-align: center;
  height: 85vh;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 20px;
  width: 45vw;
}

.cta-buttons {
  display: flex;
  justify-content: end;
}

.cta-button {
  display: flex;
  align-items: center;
  padding: 5px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.cta-button.blue {
  background-color: #3a3aea;
  color: #fff;
}

.img-block {
  display: flex;
  margin-top: 5vh;
  gap: 1vw;
  justify-content: center;
}

.img-ind {
  display: flex;
  flex-direction: row;
  max-height: 500px;
  height: 40vh;
  max-width: 27.57vh;
}

/* Mission Section */
.mission {
  background: #3a3aea;
  height: 100vh;
  min-height: 600px;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Контейнер с изображениями */
.figures-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  width: 30vw;
  margin-left: 10vw;
}

.figures-container img {
  width: 30vh;
  height: 30vh;
  opacity: 0;
  transform: translateX(-100px); /* Начальная позиция */
  transition: opacity 1s ease, transform 1s ease;
}

.animate-left.active {
  opacity: 1;
  transform: translateX(0);
}

.animate-left.disappear {
  transform: translateX(100px); /* Уходит вправо */
  opacity: 0;
}

.animate-bounce.active {
  animation: slideInBounce 4s ease forwards;
  animation-delay: 0.5s;
}

.animate-bottom {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate-bottom.active {
  opacity: 1;
  transform: translateY(0);
}

/* Определение анимации bounce */
@keyframes slideInBounce {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 1;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Mission Section - Заголовок и текст */
.mission-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin-left: auto;
  padding-left: 20px;
}

.mission h1 {
  color: #fff;
  font-size: 3rem;
  margin-right: 3vw;
}

.mission p {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2vh;
}

/* Кнопка */
.cta-button.purple {
  justify-content: center;
  background-color: #c269ff;
  color: #fff;
  width: 11vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
}

/* Services Section */
.services {
  display: flex;
  background: #fff;
  height: 100vh;
  min-height: 600px;
  padding: 50px 20px;
  text-align: left;
}

/* Контейнер для текста */
.text-container {
  width: 50%; /* Занимает левую половину */
  padding-right: 20px;
  align-content: center;
  margin-left: 5vw;
}

.services h2 {
  font-size: 4.8rem;
  margin-bottom: 10px;
}

.services h3 {
  font-weight: bold;
  color: #5e17eb;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.services p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* Кнопка */
.cta-button.blue {
  display: inline-block;
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.flags-container {
  display: flex;
  margin-top: 5vh;
  gap: 1vw;
}

.flag {
  width: 3vw;
}

/* Контейнер для изображений */
.images-container {
  width: 50%; /* Занимает правую половину */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  gap: 0; /* Убирает промежутки между изображениями */
  align-items: start;
}

.images-container img {
  height: 30vh;
}

/* Размещение изображений */
.images-container img:nth-child(3) {
  grid-column: span 1; /* Расширяем третье изображение на обе колонки */
}

/* Accelerate Innovation Section */
.accelerate {
  display: flex;
  background: #fff;
  height: 100vh;
  min-height: 600px;
  padding: 50px 20px;
  text-align: left;
}

/* Левая часть с заголовком и описанием */
.left-container {
  margin-left: 5vw;
  width: 45vw;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.left-container p {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 20px;
}

/* Правая часть с пунктами */
.right-container {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw; /* Отступ между пунктами */
  margin-right: 5vw;
}

.item {
  display: flex;
  align-items: flex-start;
}

.item img {
  width: 4vw;
  height: 4vw;
  margin-right: 2vw; /* Отступ от изображения до текста */
}

.text-block h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff1495;
  margin: 0;
}

.text-block p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0 0;
}

/* Bounce анимации для элементов в секции Accelerate */
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceInRightStrong {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  50% {
    opacity: 1;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Начальное состояние */
.item img {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Активное состояние */
.item img.active-triangle {
  animation: bounceInLeft 1s forwards;
}

.item img.active-square {
  animation: bounceInRight 1s forwards;
}

.item img.active-circle {
  animation: bounceInLeft 1s forwards;
}

.item img.active-quarter-circle {
  animation: bounceInRightStrong 1s forwards;
}

/* Find Out More Section */
.fom {
  display: flex;
  justify-content: center;
  background: #fff;
  height: 100vh;
  min-height: 600px;
  text-align: center;
}

.fom-content {
  text-align: center;
  max-width: 50vw;
  font-size: 2rem;
  color: #000;
}

.fom-content.button {
  font-size: 1rem;
}

.circles-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2vw;
  margin-top: 10vh;
}

.circle {
  width: 9vw;
  height: 9vw;
  opacity: 0; /* Начальное состояние: невидимый */
  position: relative;
}

/* Анимации появления с bounce эффектом для левых и правых кружков */
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); /* Исходная позиция слева */
  }
  50% {
    opacity: 1;
    transform: translateX(50px); /* Bounce эффект вправо */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Конечная позиция */
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); /* Исходная позиция справа */
  }
  50% {
    opacity: 1;
    transform: translateX(-50px); /* Bounce эффект влево */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Конечная позиция */
  }
}

/* Применение анимации к кружкам при добавлении класса .active */
.circle.left.active {
  animation: bounceInLeft 3s ease forwards;
}

.circle.right.active {
  animation: bounceInRight 3s ease forwards;
}

/* How We Work Section */

/* Основная секция */
.how-we-work {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

/* Фиксированный элемент в верхнем левом углу */
.fixed-decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 18vw;
  height: 18.7vw;
  background: url("assets/slide-6-corner.svg") no-repeat center/cover;
  z-index: 1;
}

/* Контейнер для текста и изображения */
.content-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  width: 100vw;
  z-index: 2;
  margin-left: 10vw;
}

/* Левая часть с текстом */
.text-content {
  width: 40vw;
  margin-top: 15vh;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.highlight {
  position: relative;
}

/* Стиль шагов */
.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.step-number {
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
}

.step-text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.step-text p {
  font-size: 1rem;
  color: #000;
  margin-top: 5px;
}

/* Правая часть с изображением */
.image-container {
  margin-top: 16vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-image {
  width: 100vw;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}

.side-image.active {
  animation: bounceInRight 3s ease forwards;
}

/* Team Section */
.team-section {
  text-align: start;
  padding: 50px 20px;
  background-color: #fff;
  height: 100vh;
}

/* Заголовок */
.team-title {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  margin-top: 3vh;
  margin-bottom: 5vh;
  margin-left: 6vw;
}

/* Выделение слова "Our" и точки */
.highlight {
  position: relative;
  display: inline-block;
}

.highlight-pink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ff2d55; /* Розовый фон */
  z-index: -1;
}

.highlight-dot {
  color: #ff2d55; /* Розовая точка */
}

/* Контейнер для блоков */
.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

/* Блоки отзывов */
.testimonial-box {
  width: 25vw;
  background-color: #dcdcdc;
  padding: 2vw;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.purple-box {
  background-color: #5e17eb;
}

.pink-box {
  background-color: #ff1495;
}

.blue-box {
  background-color: #3a3aea;
}

/* Текст внутри блоков */
.testimonial-box p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Низ блока: изображение и текст */
.testimonial-footer {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.testimonial-image {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin-right: 1vw;
  object-fit: cover;
}

.testimonial-text strong {
  display: block;
  font-size: 1.1rem;
}

.testimonial-text span {
  font-size: 0.9rem;
  color: #e0e0e0;
}

/* Quote Section */
.quote-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a3aea;
  height: 100vh;
  color: #fff;
  position: relative;
}

/* Фиксированная сетка изображений */
.image-grid {
  position: absolute;
  top: -16vh;
  left: 0vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 35vw;
  height: 35vw;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Блок с текстом и цитатой */
.quote-content {
  max-width: 600px;
  margin-left: auto;
  text-align: left;
  width: 30vw;
  margin-right: 20vw;
}

.quote-icon {
  width: 4vw;
  height: auto;
}

/* Начальные стили текста до появления на экране */
.quote-content h1 {
  font-size: 4rem;
  line-height: 1;
  color: #fff;
  width: 36vw;
  opacity: 0;
  transform: translateZ(300px) scale(0.5);
  transition: opacity 0.5s, transform 0.5s;
}

/* Анимация для текста */
.quote-content h1.animate {
  animation: fall-in 1s ease-out forwards;
}

/* Ключевые кадры для падения и увеличения */
@keyframes fall-in {
  0% {
    opacity: 0;
    transform: translateZ(300px) scale(1.5);
  }
  80% {
    opacity: 1;
    transform: translateZ(0) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}

/* Sign Up Section */

.sign-up {
  display: flex;
  align-items: start;
  background-color: #fff;
  height: 100vh;
  color: #000;
  flex-direction: column;
}

/* Footer Section */
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: #3a3aea;
  color: #fff;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

/* Левая часть с изображением и логотипом */
.footer-left {
  position: relative;
  top: 0px;
  left: 0px;
  width: 40vw;
}

.footer-img {
  width: 100%;
  height: auto;
}

/* Правая часть с контактной информацией */
.footer-right {
  width: 30vw;
  text-align: left;
  margin-left: 10vw;
  margin-top: -35vh;
}

.footer-right h2 {
  font-size: 2.5rem;
  margin-bottom: 5vh;
  opacity: 0; /* Изначально невидим */
  transform: translateY(20px); /* Смещен вниз */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.footer-right h2.visible {
  opacity: 1; /* Полностью видим после появления */
  transform: translateY(0); /* Перемещается в исходное положение */
}

.footer-right p {
  font-size: 1.1rem;
  margin-top: 1vh;
}

.email-link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
